{%extends 'base.html'%}
{%block content%}
<div class="jumbotron" id="H">
    <div class="row">
        <div class="col-md-5">
            <img class="rounded-circle account-img" src="/static/Images/cocktail.jpeg" alt='prof'><br><br>
            <p class="intro"><strong>LORRAINE WAMBUI</p></strong>
            <p class="intro"><strong>FULL STACK DEVELOPER</strong></p>
            <button class="btn-hire">HIRE ME</button>
            <button class="btn-down">DOWNLOAD CV</button>
        </div>
        
    </div>
</div>
<br>

<div class="container">
    
         <!--About me-->
        <div class="about-me" id="A">
          
            <br>
            <h2>ABOUT ME</h2>
            <div class="row">
            <div class="col-md-5">
                <img class="my-photo account-img" src="/static/Images/me5.jpg" alt='prof'>
            </div>
            <br>
            <div class="col-md-6">
                <p class="mimi">I am <strong>Lorraine Wambui</strong>, a Full Stack Web developer.Over my newly found love for techonology, I have come to desire to engage more of the field especially through coding. Other than matters technology,I love knowledge. I enyoy reading a good book. I always believe that knowledge is itself raw power. 
                </p>
            </div>
            <br>
        </div>
        <br>
    </div>
</div>
<hr><br><br><br>
<div class="container">
    <div class="row">
         <!--Skills-->
         <div class="skills" id="S">
            <h2>SKILLS</h2>
            <br>
            <div class="col-md-8">
                <img class="skills-photo account-img" src="/static/Images/angular.png" alt='prof'>
                <img class="skills-photo account-img" src="/static/Images/css.png" style="width:200px; height:200px" alt='prof'>
                <img class="skills-photo account-img" src="/static/Images/django.png" alt='prof'>
                <img class="skills-photo account-img" src="/static/Images/flask.png" style="width:150px; height:150px" alt='prof'>
                <img class="skills-photo account-img" src="/static/Images/html.png" style="width:200px; height:200px" alt='prof'>
                <img class="skills-photo account-img" src="/static/Images/python.png" alt='prof'>
                
            </div>
        </div>
    </div>
</div>
<hr><br><br><br>
<div class="container">
    <div class="top-content">
        <div class="container-fluid">
            <br>
            <h2 id="P">MY PROJECTS</h2>
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/Images/gallery.jpg" class="img-fluid" alt="img1">
                        <div class="card-body">
                            <h4 class="card-title">GALLERY</h4>
                            <p class="card-text">This is a photo gallery web application to showcase beautiful pictures. Users get can view photos uploaded by admin.They can also copy the link to a photo to paste at their discretion.</p>
                           <a href="https://gallery-to-display-photos.herokuapp.com/"><button class="btn">VIEW APP</button></a>
                           <a href="https://github.com/WambiruL/gallery.git"><button class="btn">VIEW CODE</button></a>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="/static/Images/instagram.jpg" class="img-fluid" alt="img2">
                        <div class="card-body">
                            <h4 class="card-title">INSTACLONE</h4>
                            <p class="card-text">This a clone for the Instagram app</p>
                              <a href="https://app-to-clone-instagram.herokuapp.com/"><button class="btn">VIEW APP</button></a>
                              <a href="https://github.com/WambiruL/insta-clone.git"><button class="btn">VIEW CODE</button></a>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="/static/Images/blog.jpg" class="img-fluid" alt="img3">
                        <div class="card-body">
                            <h4 class="card-title">BLOG APP</h4>
                            <p class="card-text">A personal blogging website where you can create and share your opinions and other users can read and comment on them.</p>
                              <a href="https://create-your-blogpost.herokuapp.com/"><button class="btn">VIEW APP</button></a>
                              <a href="https://github.com/WambiruL/blog.git"><button class="btn">VIEW CODE</button></a>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="/static/Images/neighbourhood.jpg" class="img-fluid" alt="img4">
                        <div class="card-body">
                            <h4 class="card-title">NEIGHBOURHOOD WATCH</h4>
                            <p class="card-text">A web application that allows you to be in the loop about everything happening in your neighborhood.</p>
                              <a href="https://neighbourhood-watch-app.herokuapp.com/"><button class="btn">VIEW APP</button></a>
                              <a href="https://github.com/WambiruL/neighbourhood.git"><button class="btn">VIEW CODE</button></a>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="/static/Images/quotes.png" class="img-fluid" alt="img4">
                        <div class="card-body">
                            <h4 class="card-title">QUOTES APP</h4>
                            <p class="card-text">Quotes app is an app that enables the user to input their quotes, upvote, downvote and even delete the quotes of their choice</p>
                              <a href="https://wambirul.github.io/quotes/"><button class="btn">VIEW APP</button></a>
                              <a href="https://github.com/WambiruL/quotes.git"><button class="btn">VIEW CODE</button></a>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
<br><br><br>
    <!--CONTACT-->
   
<div class="jumbotron footer">
    <div class="container my-5 py-5 z-depth-1">


        <!--Section: Content-->
        <section class="text-center px-md-5 mx-md-5 dark-grey-text">
      
          <!-- Section heading -->
          <h3 class="font-weight-bold mb-4" id="C">Contact Me</h3>
          <!-- Section description -->
          <p class="text-center w-responsive mx-auto mb-5">I would love to hear from you</p>
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-9 mb-md-0 mb-5">
      
              <form>
      
                <!-- Grid row -->
                <div class="row">
      
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-name" class="form-control">
                      <label for="contact-name" class="">YOUR NAME</label>
                    </div>
                  </div>
                  <!-- Grid column -->
      
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-email" class="form-control">
                      <label for="contact-email" class="">YOUR EMAIL</label>
                    </div>
                  </div>
                  <!-- Grid column -->
      
                </div>
                <!-- Grid row -->
      
                <!-- Grid row -->
                <div class="row">
      
                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-Subject" class="form-control">
                      <label for="contact-Subject" class="">SUBJECT</label>
                    </div>
                  </div>
                  <!-- Grid column -->
      
                </div>
                <!-- Grid row -->
      
                <!-- Grid row -->
                <div class="row">
      
                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                      <label for="contact-message">YOUR MESSAGE</label>
                    </div>
                  </div>
                  <!-- Grid column -->
      
                </div>
                <!-- Grid row -->
      
              </form>
      
              <div class="text-center text-md-left">
                <a class="btn btn-md btn-rounded">Send</a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li>
                  <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
                  <p>LANET, NAKURU 00200, KENYA</p>
                </li>
                <li>
                  <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
                  <p>+254 772 976 057</p>
                </li>
                <li>
                  <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
                  <p class="mb-0">wambirulorraine@gmail.com</p>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
        <!--Section: Content-->
      
      
      </div>
</div>
{%endblock%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

