<nav class="navbar navbar-expand-lg">  
    <a href="#" style="color: black;"><h2>PORTFOLIO</h2></a> 
    <div class="menu">
    
    <a href="#H" style="color: black;position: relative; left: 40px;">HOME</a> 
    <a href="#A" style="color: black;position: relative; left: 60px;">ABOUT ME</a> 
    <a href="#S" style="color: black;position: relative; left: 80px;">SKILLS</a> 
    <a href="#P" style="color: black;position: relative; left: 100px;">MY PROJECTS</a> 
    <a href="#C" style="color: black;position: relative; left: 120px;">CONTACT ME</a> 
    </div>
</nav>